body {
  min-height: 100vh;
  background-color: var(--secend-color);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
}

/* ============================== start section create PP02 ================================ */


section .perant h5 {
  font-size: 1.1em;
  margin-left: 56px;
  color: var(--text-color-tow);
}

/* ============================== end section create PP02 ================================ */

/* =======================================niveau================================= */

input[type=number]::-webkit-inner-spin-button {
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  color: var(--three-color);
}

section .collectifs .inputs {
  width: 47%;
}


section .collectifs {
  position: relative;
  margin-left: -100px;
  opacity: 0;
  visibility: hidden;
  transition: var(--main-trantion);
}

section .collectifs.active {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

section .collectifs.coll {
  position: relative;
  margin-left: 0;
  opacity: 1;
  visibility: visible;
  transition: var(--main-trantion);
}

/* =======================================niveau================================= */


/* =======================================PP03================================= */

.showInput {
  animation: animationShowInput 1s ease-in-out;
}

@keyframes animationShowInput {
  0% {
    opacity: 0;
    margin-left: -70px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}